#background {
	-fx-background-color: #35363A;
}

#gridPane {
	-fx-background-color: white;
}

#generateTriangles {
	-fx-background-color: #202124;
	-fx-background-radius: 5px;
}

#errorMessage {
	-fx-opacity: 0.0;
}

#triangleComboBox {
	-fx-background-color: #3C4043;
}

#triangleComboBox .list-cell {
	-fx-background-color: #3C4043;
	-fx-text-fill: #bfbfbf;
}

#triangleComboBox .list-cell:hover {
	-fx-background-color: #202124;
}

#triangleComboBox .list-view {
	-fx-background-color: #3C4043;
}

.buttonDesign {
	-fx-background-color: #3C4043;
	-fx-text-fill: #bfbfbf;
}

.buttonDesign:hover {
	-fx-border-radius: 2px;
	-fx-border-color: white;
}

.buttonDarkDesign {
	-fx-background-color: #202124;
	-fx-text-fill: #bfbfbf;
}

.buttonDarkDesign:hover {
	-fx-border-radius: 2px;
	-fx-border-color: white;
}

#titleBar {
	-fx-background-color: #202124;
}

#titleBar .button {
	-fx-background-color: #202124;
	-fx-text-fill: #bfbfbf;
}

#titleBar .button:hover {
	-fx-text-fill: orange;
}
